<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    
        <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://model3ddd.herokuapp.com/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://model3ddd.herokuapp.com/css/styles.css">
        <link rel="stylesheet" href="https://model3ddd.herokuapp.com/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://model3ddd.herokuapp.com/bootstrap-social/bootstrap-social.css">
        <style>
.card {
  
  max-width: 200px;
  max-height: 300px;
 
  text-align: center;
  font-family: arial;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.dropbtn {
  background-color: grey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
   display: block;
   width:100%;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: grey}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-sm fixed-top">

            <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">  
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">  <!--<img src="img/logo.png" height="30" width="41">--></a>
    <div class="collapse navbar-collapse" id="Navbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="index.html" ><span class="fa fa-home fa-lg"></span> Home</a></li>
        <li class="nav-item"><a class="nav-link" href="aboutus.html" ><span class="fa fa-info fa-lg"></span> About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="/base" ><span class="fa fa-list fa-lg"></span> 3D Models</a></li>
        <li class="nav-item"><a class="nav-link" href="#" ><span class="fa fa-list fa-lg"></span> Premium Models</a></li> 
        <li class="nav-item"><a class="nav-link" href="/con" ><span class="fa fa-address-card fa-lg"></span> Contact Us</a></li>
    </ul></div>
     
                <div style="color: white;"><div class="dropdown"> <button class="btn btn-secondary"><img src="https://model3ddd.herokuapp.com/sett.png"
                style="width:20px;">&nbsp;&nbsp;Settings</button>&nbsp;&nbsp;
                <div class="dropdown-content">
                   <a>{{name}}&nbsp;{{lname}}</a>
                  <a href="/edit">Edit Profile</a>
                    <a href="/userpass">Change Password</a>
                    <a href="#" id="loginid">Delete Account</a>
                </div>
                </div></div>  
               
                <a href="/auth/logout" class="btn btn-primary">Logout</a>
    

</div></nav>

 <div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="content">
       
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to delete this account? </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    <a href="/edit/delete/{{_id}}" class="btn btn-danger">Delete</a>
                   <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                    
            </div>
        </div>
    </div>
</div>

       <!-- <div class="col-8 col-sm-7" style="text-align: center;">
            <h1 class="word"> User Page</h1></div> -->
            
          
            <div class="container"> 
                
<h1 style="margin-top: 50px;">Welcome {{name}}!</h1>


                
<!--
<a href="#" class="btn btn-secondary">Change Password</a>
<a href="/ord" class="btn btn-secondary">Wishlist&nbsp;<i class="fa fa-heart" style="color:red;"></i></a>
<a href="/base" class="btn btn-secondary">Shop&nbsp;<i class="fa fa-shopping-cart" style="color:white;"></i></a>
<a href="/myord" class="btn btn-secondary">My Orders&nbsp;<i class="fa fa-shopping-bag" style="color:palevioletred;"></i></a>
<a href="/icart1" class="btn btn-secondary">My Cart&nbsp;<i class="fa fa-shopping-cart" style="color:palevioletred;"></i></a> -->

<table><tr><div class="row row-content">

<div class="card">
  <a href="/ord"><img src="https://model3ddd.herokuapp.com/wi.gif" style="width:75%">
  <p><button>Wishlist</button></p></a><p>Check your Wishlist!</p>
</div> 

<div class="card">
  <a href="/icart1"><img src="https://model3ddd.herokuapp.com/cart.gif" style="width:90%">
  <p><button>My Cart</button></p></a><p>Check your Shopping Cart!</p>
</div>

<div class="card">
  <a href="/myord"><img src="https://model3ddd.herokuapp.com/bag.gif" style="width:75%">
  <p><button>My Orders</button></p></a><p>Check your orders!</p>
</div>

<div class="card">
  <a href="/base"><img src="https://model3ddd.herokuapp.com/ca.gif" style="width:100%">
  <p><button>Shop Now!</button></p></a><p>Check out our exclusive models and shop!</p>
</div>

</div></tr></table>

</body>

<script src="https://model3ddd.herokuapp.com/jquery/dist/jquery.slim.min.js"></script>
<script src="https://model3ddd.herokuapp.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://model3ddd.herokuapp.com/bootstrap/dist/js/bootstrap.min.js"></script>
 <script>
    $(document).ready(function(){
            $("#loginid").click(function(){
            $("#loginModal").modal('show');
        })
    });
</script>

<script src="https://model3ddd.herokuapp.com/jquery/dist/jquery.slim.min.js"></script>
<script src="https://model3ddd.herokuapp.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://model3ddd.herokuapp.com/bootstrap/dist/js/bootstrap.min.js"></script>
</html>