<!DOCTYPE html>
<html lang="en">

<head>

    
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-social/bootstrap-social.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><!--<img src="img/logo.png" height="30" width="41">--></a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link"  href="index.html" ><img src="home.png" style="width: 30px;"> Home</a></li>
        <li class="nav-item active"><a class="nav-link" href="index.html#about" ><img src="ab.png" style="width: 30px;">About Us</a></li>
        <li class="nav-item active"><a class="nav-link" href="/base" ><img src="cube.png" style="width: 30px;"> 3D Models</a></li>
        <li class="nav-item active"><a class="nav-link" href="index.html#service" ><img src="serv.png" style="width: 30px;"> Services</a></li>
        <li class="nav-item active"><a class="nav-link" href="index.html#careers" ><img src="care.png" style="width: 30px;"> Careers</a></li>
        <li class="nav-item active"><a class="nav-link" href="/con" ><img src="cont.png" style="width: 30px;"> Contact Us</a></li>
                </ul>
                {{#if user}}
      <a href="auth/logout" style="color: white;">Logout</a>
    {{else}}
                <span class="navbar-text">
                    <a href="#" id="loginid">
                   <img src="log.png" style="width: 30px;"> Login</a>
                <a>&nbsp;</a>
                    <a href="/employee">
                     <img src="signup.png" style="width: 30px;"> Signup</a>
                </span>
                {{/if}}
            </div>
        </div>
    </nav>
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    
                       
                            <a href="/admin" class="btn btn-primary">Login as Admin</a>
                            &nbsp;&nbsp;<a href="/login" class="btn btn-success">Login as User</a>
                            &nbsp;  Don't have an account? <a href="/employee">Signup </a>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Title</h1>
                   <p>abc</p>
                </div>
                <div class="col-12 col-sm align-self-center">
                    <!-- <img src="img/logo.png" class="img-fluid">-->
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row row-content">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                <li class="breadcrumb-item active">Contact Us</li>

            </ol>
            <div class="col-12">
               <h3>Contact Us&nbsp;<img src="cont.png" style="width: 50px;"></h3>
               <hr>
            </div>
       
        
        <div class="row row-content">
            CAAPL is an independent game development company, founded in 2019 with a dream : making fun and beautiful games.
             For us, there’s nothing like players smiling with your game in their hands! Everyone here is a true gamer. 
             Passion is a keyword for us. We work with people driven by their love for making polished, attractive and fun things.
              We also have a huge will to bring new perspectives, and are interested in developing new technologies. <br><br>


           <div class="col-12">
              <h3>Location Information<img src="add.png" style="width: 50px;"></h3>
           </div> 
            <div class="col-12 col-sm-4 offset-sm-1">
                   <h5>Our Address</h5>
                    <address style="font-size: 100%;" ><div class="card2">
		              Sr. no. 20/2, 2nd floor, Bandal Building, oppo. PDCC Bank, Kashinath Patil Nagar, Dhanakawadi, Pune 043<br><br>
		             <i class="fa fa-phone fa-lg"></i>:<a style="color: white;" href="tel:7387333896"> 7387333896</a> <br>
                      <i class="fa fa-mobile fa-lg"></i>:<a style="color: white;" href="tel:8421127578"> 8421127578</a><br>
                      <i class="fa fa-envelope fa-sm"></i>: 
		              <a style="color: white;" href="mailto:custardappleanimation@gmail.com">custardappleanimation@gmail.com</a>
                      </div>
		           </address>
            </div>
            <div class="col-12 col-sm-6 offset-sm-1">
                <h5>Map of our Location</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15137.496049174997!2d73.8594434!3d18.4667103!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xecfefd19202a896d!2sCustard%20Apple%20Animation%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1609403204131!5m2!1sen!2sin"
                 width="300" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-12 col-sm-11 offset-sm-1">
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-primary" href="tel:7387333896"><i class="fa fa-phone"></i> Call</a>
                    <a role="button" class="btn btn-info" href="tel:8421127578"><i class="fa fa-mobile"></i> Phone</a>
                    <a role="button" class="btn btn-success" href="custardappleanimation@gmail.com"><i class="fa fa-envelope-o"></i> Email</a>
            </div>
        </div>
        <div class="container">
        <div class="row row-content">
           <div class="col-12">
              <h3>Contact Us</h3>
           </div>
            <div class="col-12 col-sm-12">
                <form name="myForm1" action="/con" method="post">
                    <div class="form-group row">
                        <label for="firstname" class="col-md-2 col-form-label">First Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" autofocus=true
                            pattern="[a-zA-Z]+" title="Please enter your firstname consisting only alphabets" required>
                        </div> </div> 
                        <div class="form-group row">
                        <label for="lastname" class="col-md-2 col-form-label">Last Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" autofocus=true
                            pattern="[a-zA-Z]+" title="Please enter your lastname consisting only alphabets" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contact" class="col-md-2 col-form-label">Contact</label>                        
                        <div class="col-md-6">
                            <input type="tel" class="form-control" id="contact" name="contact" placeholder="Tel Number" maxlength="10" autofocus=true
                            pattern="[0-9]{10}" title="Please enter your 10-digit contact number" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email" title="Please enter your email-id" autofocus=true
                            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"  required>
                        </div> </div> 
                        
                       
                        
                            <div class="form-group row">
                                <label for="message" class="col-md-2 col-form-label">Message</label>
                                <div class="col-md-6">
                                    <textarea class="form-control" id="message" name="message" rows="7" autofocus=true
                                    title="Please enter your message" required></textarea>
                                </div> 
                            </div> 
                            <div class="form-group row">
                                <div class="offset-md-2 col-md-10">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>

                     
                </form>
            </div>
            
       </div>
    </div>
    </div>
    </div> 
</div>
<div id="mySidenav" class="sidenav">
            <a class="btn btn-social-icon btn-google" id="google" href="https://www.google.com/search?sxsrf=ALeKk016b5DbllkFu8NeFCg0IswOywvj9Q%3A1609402446207&ei=TojtX_aADKCb4-EPnOWn2Ac&q=custard+apple+animation+pvt+ltd&oq=Cusra&gs_lcp=CgZwc3ktYWIQAxgAMgcIIxCxAhAnMgoILhCxAxDJAxBDMgcILhCxAxBDMgcIABCxAxBDMgQIABBDMgQIABAKMgcIABCxAxAKMgcIABCxAxBDMgcIABCxAxAKMgcIABCxAxAKOgQIIxAnOgcIABDJAxBDOgUIABCxAzoCCAA6CAguELEDEIMBOgUIABCRAjoECC4QQzoICAAQsQMQgwE6BQguELEDOg4ILhDHARCvARDJAxCTAjoCCC46BggAEAoQQzoKCC4QsQMQgwEQCjoECC4QClCphAdYnooHYI6TB2gAcAF4AIABxwGIAaMGkgEDMC41mAEAoAEBqgEHZ3dzLXdpesABAQ&sclient=psy-ab"><i class="fa fa-google fa-lg "></i></a>
            <a class="btn btn-social-icon btn-facebook" id="fb" href="https://www.facebook.com/Custard-Apple-Animation-Pvt-Ltd-112928893410891"><i class="fa fa-facebook fa-lg"></i></a>
            <a class="btn btn-social-icon btn-linkedin" id="lin" href="https://www.linkedin.com/company/67337097/admin/"><i class="fa fa-linkedin fa-lg"></i></a>
            <a class="btn btn-social-icon btn-ins" id="ins" href="https://www.instagram.com/custardappleanimation/"><i class="fa fa-instagram fa-lg"></i></a>
            <a class="btn btn-social-icon btn-google" id="you" href="https://www.youtube.com/channel/UC1HQw0_vnj6fPxCzDn4pYiQ"><i class="fa fa-youtube fa-lg"></i></a>
            <a class="btn btn-social-icon" id="mail" href="mailto:custardappleanimation@gmail.com"><i class="fa fa-envelope-o fa-lg"></i></a>
        </div>
   <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-3 offset-1 col-sm-2">
                    <h5 style="color: beige;">Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.html#about">About Us</a></li>

                        <li><a href="/base">3D Models</a></li>
                        <li><a href="index.html#service">Services</a></li>
                        <li><a href="index.html#careers">Careers</a></li>
                        <li><a href="/con">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-5">
                    
                    <address><h5 style="color: white;">Our Address&nbsp;<img src="add.png" style="width: 20px;"></h5>
                        Sr. no. 20/2, 2nd floor, Bandal Building, oppo. PDCC Bank, Kashinath Patil Nagar, Dhanakawadi, Pune 043<br>
		              <i class="fa fa-phone fa-lg"></i>:<a style="color: white;" href="tel:7387333896"> 7387333896</a> <br>
                      <i class="fa fa-mobile fa-lg"></i>:<a style="color: white;" href="tel:8421127578"> 8421127578</a><br>
                      <i class="fa fa-envelope fa-sm"></i>: 
		              <a style="color: white;" href="mailto:custardappleanimation@gmail.com">custardappleanimation@gmail.com</a><br><br>
		           </address>
                </div>
                <div class="col-3 col-sm-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15137.496049174997!2d73.8594434!3d18.4667103!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xecfefd19202a896d!2sCustard%20Apple%20Animation%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1609403204131!5m2!1sen!2sin"
                 width="400" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                    
           </div>

           <div style="color: white;" class="row justify-content-center">  
            <div class="col-auto">
                <p><li><a href="pp.html" >Privacy Policy</a></li></p>   
            </div> </div>
            <div style="color: white;" class="row justify-content-center">           
                <div class="col-auto">
                    <p>© Copyright 2020 3D Model</p>

                </div>
                
           </div>
        </div>
    </footer>
    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="popper.js/dist/umd/popper.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
                $("#loginid").click(function(){
                $("#loginModal").modal('show');
            })
        });
    </script>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="popper.js/dist/umd/popper.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
