<html lang="en">

<body>
<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
<div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">  
        <span class="navbar-toggler-icon"></span>
    </button>
    
</div>

</nav>
<div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Contact </th>
            <th> Email </th>
            <th> Password </th>
        </tr>
    </thead>
        <tbody>
            
          <!--{{list}}-->
          {{#each list}}
      {{#each this}}
      
      
         
{{/each}}{{/each}}
    </tbody>
    
</table>

