<html>
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="C:/Users/Admin/web1/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="C:/Users/Admin/web1/css/styles.css">
        <link rel="stylesheet" href="C:/Users/Admin/web1/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="C:/Users/Admin/web1/bootstrap-social/bootstrap-social.css">
    </head> 
      
    <body>
        <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
             <div class="col-10 col-sm-10" style="text-align: center;">
                <h1 class="word">Upload Pics 3dm</h1></div>
                <div class="col-2 col-sm-2">
                 <a href="/ind1/dashboard1" class="btn btn-primary">Back</a>
                 </div></nav>
        <div class="container">
             <div class="row row-content">   
        
        <form action="/uploadfile" enctype="multipart/form-data" method="POST">
        <div class="form-group row"> 
                <div class="col-sm-6">
            <label for="name">Image Title</label> 
            </div> 
            <div class="col-sm-6">
            <input type="text" id="name" class="form-control" placeholder="Title" maxlength="16"
                   value="" name="name" title="Please enter a caption for your model" required>  
                   </div> </div> 
                   
        <div> <div class="form-group row"> <div class="col-sm-6">
            <label for="desc">Image Description</label></div> <div class="col-sm-6">
            <input type="text" id="desc" name="desc"  class="form-control" value="" rows="2" maxlength="23"
                      placeholder="Description" title="Please enter your model description" required> 
             </div></div>
        </div> 
     <div class="form-group row"> 
                <div class="col-sm-6">
            <label for="price">Price</label> 
            </div> 
            <div class="col-sm-6">
            <input type="text" id="price" class="form-control" placeholder="Price" 
                   value="" name="price" title="Please enter your image price" required>  
                   </div> </div>
        <div><div class="form-group row"> <div class="col-sm-6">
            <label for="image">Upload Image</label></div> <div class="col-sm-6">
            <input type="file" id="image" 
                   name="image" value="" required> 
        </div> </div> </div>
        <div><div class="form-group row"> <div class="col-sm-6"></div><div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Submit</button> 
        </div> </div></div>
        </form> </div>
       <!--- <form action="/uploadmultiple" enctype="multipart/form-data" method="POST">
            <input type="file" name="myFiles" multiple>
            <input type="submit" value="Upload your files">
            </form> -->
            
            <hr> 
            
    <h1>Uploaded Image</h1> 
                    
    {{#if item}} <table><tr><td>
    <img src="data:img/fbx;base64,{{item}}" height="180" width="250"> </td>
    <td>&nbsp;</td>
    <td><B>Name</B>: {{name}}<br>
   <B> Caption</B>: {{desc}}<br>
    <B>Price</B>: Rs.{{price}}/-</td></tr></table>
    {{/if}}
       
     
    <script src="C:/Users/Admin/web1/jquery/dist/jquery.slim.min.js"></script>
    <script src="C:/Users/Admin/web1/popper.js/dist/umd/popper.min.js"></script>
    <script src="C:/Users/Admin/web1/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
  
</html>